body{
    overflow: scroll;
    background-image: url('https://images.hdqwalls.com/wallpapers/dark-minimalist-blur-4k-4o.jpg');

}

.carousel{
    padding: 40px;
    max-width: 800px;
}

.nav-item{
    margin: 8px;
}

.corbranca{
    color: white;
}
.fontepixel{
    font-family: 'Silkscreen', sans-serif
}

.fonteModerna{
    font-family: 'Staatliches', cursive;
}

.bg-opacity{
    background-color: rgba(0, 0 , 0, 0.3);
    border-radius: 25px;
    
}

img{
    border-radius: 13px;
}

.card-img-top{
    max-width: fit-content;
}

.insta{
    font-size: 11px;
    padding: 10px;
    color: rgba(255, 255 , 255, 0.55);;
    text-align: center;
    background-color: rgba(0, 0 , 0, 0.3);
    border-radius: 25px;
}

.card {
    border-radius: 20px;
    text-align: center;
    margin: 6px;

}

.textoCards{
    font-size: 11px;
}

.imgCards{
    padding: 15px;
}